* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
  background-color: black;
  height: 95%;
  width: 95%;
  margin: 5% auto;
}

#Header {
  grid-area: Header;
  background-color: rgb(241, 149, 29);
}

#Main {
  grid-area: Main;
  background-color: chartreuse;
}

#Footer {
  grid-area: Footer;
  background-color: violet;
}

#Aside {
  display: none;
}

@media screen and (min-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "Header Header Header Header"
      "Main Main Main Aside"
      "Footer Footer Footer Footer";
  }

  #Aside {
    display: block;
    background-color: rgb(205, 129, 205);
  }
}

@media screen and (min-width: 1024px) {
  #Aside {
    background-color: rgb(124, 182, 248);
    width: 200%;
  }
  .grid_container {
    grid-template-areas:
      "Footer Footer Footer Footer"
      "Aside Aside Main Main"
      "Header Header Header Header";
  }
}
